.lead__img {
  margin-top: 32px;
  margin-bottom: 4px;
  padding: 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1124px) {
  .lead__img{
    margin-top: 28px;
  }
}

@media screen and (max-width: 568px) {
  .lead__img{
    margin-top: 20px;
  }
}
